In [1]:
import pandas as pd

In [3]:
patient = pd.read_csv('form.patientinfo.csv')

In [5]:
patient

,id,user,first_name,last_name,date_time,referral,address,pharmacy,age
0,43,martin-c32eaf,Martin,Akpan,2025-05-05 20:37:00+00:00,pharmacy,15 Okon Essien Lane,Amela,67

In [7]:
patient.count()

id            1
user          1
first_name    1
last_name     1
date_time     1
referral      1
address       1
pharmacy      1
age           1
dtype: int64

In [9]:
patient['age'].mean()

67.0